h1{
    color:brown;
    font-family:'Times New Roman', Times, serif;
    font-size: 38px;
    text-align:center;
    margin-left: 25px;
}

body{
    background-color: blanchedalmond;

}

header{
    background-color: burlywood;
}

nav li{
    display: inline;
   margin-left: 30px;
   margin-right: 30px;
    text-align:center;
}

nav a{
    text-transform: uppercase;
    color: brown;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: left;
}

nav{
    text-align: left;
    position: absolute;
    top: 225px;
    left: 10px;
}
.logo{
    width: 12%;
    border-color: rgba(201, 135, 48, 0.767);
    border-radius: 10px;
    border-style: groove;
    border-width: 30px;
    width: 200px;
    
    
}
ul{
    margin-left: 25px;
    font-style: italic;
    color: brown;

}

.servicos{
    width: 940px;
    margin: 0 auto;

}
.servicos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 0px;
    box-sizing: border-box;

    }

    .servicos h2{
        font-size: 30px;
        font-weight: bold;
        padding: 15px;
    }

    .descricao{
        font-size: 18px;
    }
    .preco{
        font-size: 22px;
        font-weight: bold;
        margin-top: 10px;
    }