h1{
    color:brown;
    font-family:'Times New Roman', Times, serif;
    font-size: 38px;
    text-align:center;
}

body{
    background-color: blanchedalmond;
}

header{
    background-color: burlywood;
}

nav li{
    display: inline;
   margin-left: 165px;
   margin-right: 165px;
    text-align: center;
}

nav a{
    text-transform: uppercase;
    color: brown;
    font-weight: bold;
    font-size: 38px;
    text-decoration: none;
    text-align: center;
}

nav{
    text-align: center;
    position: relative;
    margin-right:30px ;
}
.logo{
    width: 12%;
    border-color: rgba(201, 135, 48, 0.767);
    border-radius: 40px;
    border-style: groove;
    border-width: 40px;
}